
body {
 background-image: url(https://img.freepik.com/premium-photo/misty-rainbow-landscape-dawn_568886-28814.jpg?semt=ais_hybrid&w=740&q=80);
 position: absolute;
 left: 25rem;
 right: 25rem;
 font-family: Arial, sans-serif;
}


.signup-container {
  background-color: rgb(255, 255, 255);
  margin: 20px;
  padding: 4rem;
  align-content: center;
  border-color: white;
  border-radius: 12px;
  position: static;
 

}

.signup-container img {
  align-content: center;
}

 h1 {
font-size: 25px;
font-weight: bold;
text-align: center;
}

.signup-container p {
 
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}


input {
  
 width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;

}

button {
  background:#F6BC00;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: default;
  outline: white;
}


.button, .active-buttons {
background-color:#F8F9FAFE;
width: 398;
height: 15;
opacity: 1;
top: 2px;
left: 4px;
border-radius: 7px;


}

.footer p {
 color: #000;
  margin-top: 20px;
  font-size: 12px;
  opacity: 70%;


}
.footer a {
  color: #007bff;
  text-decoration: none;
}

